/*ヘッダー*/
.fixedHeader{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 10px;
    z-index: 1;
}

.fixedHeader .fixedHeaderLeft h1{
    margin: 0;
    padding: 12px 32px;
}

.fixedHeaderRight{
    display: flex;
}

.fixedHeaderRight .fixedHeaderRightText ul{
    display: flex;
    list-style-type: none;
}

.fixedHeaderRight .fixedHeaderRightText ul li{
    font-size: 14px;
    line-height: 1.43;
    padding: 0 8px;
}

.fixedHeaderRight .fixedHeaderRightText ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.fixedHeaderRight .fixedHeaderRightIcon{
    display: flex;
    margin-left: 20px;
}

.fixedHeaderRight .fixedHeaderRightIcon a{
    display: block;
    padding: 15px 15px;
}

.breadcrumbs{
    margin-top: 60px;
}

.breadcrumbs p{
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 50px;
}

.breadcrumbs p a{
    color: lightslategray;
    text-decoration: none;
}

/*---メイン---*/
/*メインヘッダー画像*/
.articleMain .articleMainImage{
    position: relative;
}

.articleMain .articleMainImage img{
    vertical-align: bottom;
}

.articleMain .articleMainImage .articleMainText{
    position: absolute;
    left: 140px;
    top: 30px;
    color: white;
}

.articleMain .articleMainImage .articleMainText p{
    font-size: 18px;
    line-height: 1.33;
}

.articleMain .articleMainImage .articleMainText h1{
    padding-top: 10px;
    font-size: 26px;
    line-height: 1.23;
}

/*メイン上部シェアボタン*/
.articleMain .share{
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.articleMain .share p{
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
    color: dimgray;
    padding: 10px 15px;
}

.articleMain .share a{
    display: block;
    padding: 20px 10px;
}

.articleMain .share a:last-child{
    margin-right: 210px;
}