.fixedHead{
    padding: 15px 200px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(255,255,255,0.8);
}

.fixedHead .fixedHeadRight{
    display: flex;
}

.fixedHead .fixedHeadRight img{
    margin-top: 5px;
}

.fixedHead .fixedHeadRight span{
    font-size: 12px;
    line-height: 1.5;
    width: 105px;
    padding: 0 10px;
    color: #A4A4A4;
}

.fixedHead .fixedHeadRight p{
    width: 120px;
    height: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    border: solid 1px #000000;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.fixedHead .fixedHeadRight p a{
    color: 	#1F2870;
    text-decoration: none;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.fixedHead .fixedHeadRight p a:before{
    position: absolute;
    content: '';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 10px;/*画像の幅*/
    height: 10px;/*画像の高さ*/
    background-image: url(../images/icon_arrow01_right_blue01.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    top: 15px;
    right: 12px;
}

.fixedHead .fixedHeadRight p a:hover{
    background-color: #1F2870;
    color: #FFFFFF;
}

.fixedHead .fixedHeadRight p a:hover:before{
    position: absolute;
    content: '';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 10px;/*画像の幅*/
    height: 10px;/*画像の高さ*/
    background-image: url(../images/icon_arrow01_right_white01.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    top: 15px;
    right: 12px;
}

.upperHead{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    font-size: 12px;
    background-color:#F7F7F7;
    height: 32px;
}

.upperHead .upperHeadRight{
    display: flex;
    font-size: 11px;
}

.upperHead .upperHeadRight ul{
    display: flex;
    list-style-type: none;
    padding: 8px 0;
}

.upperHead .upperHeadRight ul li{
    padding: 0 10px;
    position: relative;
    vertical-align: middle;
}

.upperHead .upperHeadRight ul li a{
    color:#676767;
}

.upperHead .upperHeadRight ul li a:hover{
    text-decoration: underline;
}

.upperHead .upperHeadRight ul li a span{
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: #000000;
}

.upperHead .upperHeadRight a{
    text-decoration: none;
    color:#1F2870;
}

.upperHead .upperHeadRight a:hover{
    text-decoration: underline;
}

.upperHead .upperHeadRight a p{
    background-color: #D9D9D9;
    padding: 0 8px;
}

.upperHead .upperHeadRight a p:before{
    content: url(../images/mark3.png);
    vertical-align: middle;
}

.logoTelShare{
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.logoTelShare .logoTelShareLeft{
    padding: 0;
}

.logoTelShare .logoTelShareRight{
    display: flex;
    padding: 5px 0;
}

.logoTelShare .logoTelShareRight .logoTelShareRightLeft{
    text-align: center;
    padding: 15px 15px;
}

.logoTelShare .logoTelShareRight .logoTelShareRightLeft img{
    padding: 0;
}

.logoTelShare .logoTelShareRight .logoTelShareRightLeft p{
    padding: 2px 0;
    margin: 0;
    font-size: 11px;
    color: #A4A4A4;
}

.logoTelShare .logoTelShareRight .logoTelShareRightRight{
    padding: 25px 0 20px 15px;
}

.logoTelShare .logoTelShareRight .logoTelShareRightRight a{
    padding: 15px 2px;
}

.globalNavi .globalNaviMajor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul{
    display: flex;
    padding: 0;
    margin: 0;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li{
    list-style-type: none;
    text-align: center;
    padding: 0 30px;
    border-left: solid 1px #DCDDDD;
    position: relative;
    height: 35px;
    width: 98px;
    color: #1F2870;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li:first-child{
    pointer-events: none;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li:last-child{
    border-right: solid 1px #DCDDDD;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li:hover{
    color:#1F2870;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li a{
    text-decoration: none;
    color:#000000;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li a:hover{
    color:#1F2870;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li span{
    font-size: 11px;
    color:#404885;
    font-weight: bold;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li a span{
    font-size: 11px;
    color: #ABB1B5;
    font-weight: bold;
}

.globalNavi .globalNaviMajor .globalNaviMajorLeft ul li a span:hover{
    color:#1F2870;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight{
    display: flex;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight p{
    width: 120px;
    height: 20px;
    padding: 10px 25px;
    margin: 0 5px;
    border: solid 1px #000000;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight p a{
    color: 	#1F2870;
    text-decoration: none;
    font-weight: bold;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight p a:before{
    position: absolute;
    content: '';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 10px;/*画像の幅*/
    height: 10px;/*画像の高さ*/
    background-image: url(../images/icon_arrow01_right_blue01.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    top: 15px;
    right: 12px;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight p a:hover{
    background-color: #1F2870;
    color: #FFFFFF;
}

.globalNavi .globalNaviMajor .globalNaviMajorRight p a:hover:before{
    position: absolute;
    content: '';/*何も入れない*/
    display: inline-block;/*忘れずに！*/
    width: 10px;/*画像の幅*/
    height: 10px;/*画像の高さ*/
    background-image: url(../images/icon_arrow01_right_white01.png);
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
    top: 15px;
    right: 12px;
}

.globalNavi .globalNaviSmall{
    background-color: 	#181836;
}

.globalNavi .globalNaviSmall ul{
    display: flex;
    flex-wrap:wrap;
    padding: 15px 210px;
    position: relative;
    margin-bottom: 0;
    margin-top: 20px;
}

.globalNavi .globalNaviSmall ul:before{
    content: '\025b2';
    top: -10px;
    left: 270px;
    position: absolute;
    color:#181836;
}

.globalNavi .globalNaviSmall ul li{
    list-style-type: none;
    padding: 7px 3px;
    font-size: 15px;
}

.globalNavi .globalNaviSmall ul li:before{
    content: '\05c';
    padding: 0 15px 0 10px;
    color: #515171;
    font-weight: bold;
}

.globalNavi .globalNaviSmall ul li:first-child:before{
    content: none;
}

.globalNavi .globalNaviSmall ul li a{
    color: #FFFFFF;
    text-decoration: none;
    padding: 7px 3px;
}

.globalNavi .globalNaviSmall ul li a:hover{
    background-color:#FFFFFF;
    color:#181836;
}

.articleMain .aboutMain .aboutMainHead{
    position: relative;
}

.articleMain .aboutMain .aboutMainHead img{
    object-fit: cover;
}

.articleMain .aboutMain .aboutMainHead .aboutMainHeadText{
    position: absolute;
    top: 10px;
    left: 540px;
    text-align: center;
}

.articleMain .aboutMain .aboutMainHead .aboutMainHeadText h1{
    font-size: 60px;
    color: #FFFFFF;
    font-weight: lighter;
    position: relative;
}

.articleMain .aboutMain .aboutMainHead .aboutMainHeadText h1:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -18px;
    transform: translate(-50%);
    width: 200px;
    border-bottom: 1px solid #FFFFFF;
}

.articleMain .aboutMain .aboutMainHead .aboutMainHeadText p{
    color: #FFFFFF;
    font-weight: bold;
}

.articleMain .aboutMain .breadcrumb{
    border-bottom: solid 1px#E1E1E1;
}

.articleMain .aboutMain .breadcrumb ul{
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    padding: 10px 200px;
    font-size: 14px;
}

.articleMain .aboutMain .breadcrumb ul li a{
    color: 	#35538E;
    text-decoration: none;
}

.articleMain .aboutMain .breadcrumb ul li a:hover{
    text-decoration: underline;
}

.articleMain .aboutMain .breadcrumb ul li:first-child:after{
    content: '\03e';
    padding: 0 5px;
}